
@{
    ViewBag.Title = "content";
    Layout = "~/Views/Shared/_ipse.cshtml";
}

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="row">
                <ol class="breadcrumb" style="margin-top: 26px;">
                    <li>
                        <a href="index">
                            <em class="fa fa-home"></em>
                        </a>
                    </li>
                    <li class="active">Course Content</li>
                </ol>
            </div><!--/.row-->
            <div class="row">
                <div class="col-lg-12">

                    <div align="left">
                        <h4>Saving PDF files to your Computer</h4>

                        <p>Download the PDF to your computer for viewing, now or at later date. Saving a larger file to your hard drive is the best option, particularly if you do not have a fast Internet connection.</p>

                        <ul>
                            <li>Chrome and Firefox</li>
                            <p>Right mouse click the link and select "Save Link As." Follow prompts to save the file to your location, taking care to recognize where you saved the PDF file. You may then open it within Acrobat Reader.</p>

                            <li>Internet Explorer</li>
                            <p>Right mouse click the link and select "Save Target As." Follow prompts to save the file to your location, taking care to recognize where you saved the PDF file. You may then open it within Acrobat Reader.</p>

                            <li>Saving PDF files to Macintosh</li>
                            <p>Either control+click or click and hold the mouse button down on the link until the menu pops up. Select the item from the menu that indicates it will "save" or "download" the file to the disk. Select the file type before you click OK (the file type should be PDF or source, depending on your browser).</p>
                        </ul>

                        <p>NOTE - You need to have a PDF Reader installed on your desktop/laptop to view the PDF file.</p>

                    </div>



                    <div style="text-align:center;">

                        <a href="http://portal.iptse.com/Content/course/Story%20Book%20IPTSE%202018%20-%20Secured.pdf" target="_top" class="btn btn-primary" download="iptse.pdf">
                            Download
                        </a>
                    </div>

                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
