
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ipse.cshtml";
}
 <!-- Page Content -->
<div id="page-wrapper" style="background-color:lemonchiffon">
    <div class="container-fluid">
        <div class="row">
            <div >
                <h1 class="page-header">DASH BOARD</h1>

                <h2 align="center">Hello! Welcome to IPTSE.</h2> 
                <table align="center">
                    <tr>
                        <td width="70%" height="100%">
                            <p style="font-style:normal;font-size:large;color:black;text-align:justify">
                                <b>Intellectual Property Talent Search Examination:</b><br />
                                As technical change reshapes the world economy, intellectual property (IP) has grown in importance and taken on a central economic role. The increasing globalization of economic affairs and the increased knowledge intensity of economic activities have lead to the emergence of knowledge economy.

                                ASSOCHAM and ERICSSON is jointly initiating Intellectual Property Talent Search Examination (IPTSE) to educate the intellectual property in India at school and college level.

                                The objective of the proposed Intellectual Property Talent Search Examination (IPTSE) is to help spread awareness on Intellectual Property and foster spirit of innovation and enterprise amongst India’s vast young talent pool. Besides, this initiative would help to identify and tap excellence in the realm of Patent, Copyright, and Trademark & Design – collectively known as Intellectual Property (IP). The modus operandi would entail dissemination of online module on IP followed by an online exam targeted at class IX to XII school students and college students. Further, this exam is for UGs (Undergraduation).
                            </p>
                            
                        </td>
                        <td width="30%" height="100%" align="justify">
                                        <h4 align="center" style="color:blue">Important Notice</h4>
                                        <marquee direction="up" onmouseover="stop()" onmouseout="start()">
                                        <ul style="color:brown;font-size:large">
                                             <li >
                                                    We will intimate the Date soon for the Course Content!
                                            </li>
                                            <li>
                                                Mock Test will start from 1st of August 2018.
                                            </li>
                                            <li>
                                                Payment option is already active.
                                            </li>
                                        </ul>
                                    </marquee>
                        </td>
                    </tr>
                </table>
                <br /><br />
                <marquee><b style="font-size:large;color:red">Note: Without making payment. You can't access Course Content and Mock Test option. Thank You!</b></marquee>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

