
@{
    ViewBag.Title = "mocktest";
    Layout = "~/Views/Shared/_ipse.cshtml";
}

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="row">
                <ol class="breadcrumb" style="margin-top: 26px;">
                    <li>
                        <a href="index">
                            <em class="fa fa-home"></em>
                        </a>
                    </li>
                    <li class="active">Mock Test</li>
                </ol>
            </div><!--/.row-->
            <div class="row">
                <div class="col-lg-12">
                    
                    Mock Test will start from 15th of August 2018.
                    Thank You!
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
<!-- /#page-wrapper -->
