
@{
    ViewBag.Title = "paymentdetails";
    Layout = "~/Views/Shared/_ipse.cshtml";
}
@using (Html.BeginForm())
{
    <!-- Page Content -->
    <div id="page-wrapper" style="background-color:lemonchiffon">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Payment Details</h1>

                    <h3>@ViewBag.msg</h3>
                    <table width="100%"><tr><th>Student Id</th><th>Payment Id</th><th>Payment Date</th></tr>
                           <tr><td><p> @ViewBag.id</p></td><td><p>
    @ViewBag.paymentid
</p></td><td><p>@ViewBag.datetime</p></td></tr>
                    </table>

                    
                    
                    


                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
}