
@{
    ViewBag.Title = "paymentdetails";
    Layout = "~/Views/Shared/_ipse.cshtml";
}
@using (Html.BeginForm())
{
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="row">
                    <ol class="breadcrumb" style="margin-top: 26px;">
                        <li>
                            <a href="index">
                                <em class="fa fa-home"></em>
                            </a>
                        </li>
                        <li class="active">Payment Details</li>
                    </ol>
                </div>

                <div class="row">
                    <div class="col-lg-12">


                        <h4>Make payment through NEFT/RTGS/Demand Draft/ Cheque for uploaded sheet.</h4>
                        <table width="100%">
                            <tr>
                                <td><p> Bank Name </p></td>
                                <td>
                                    <p>
                                        Kotak Mahindra Bank
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td><p> Name of The Account Holder </p></td>
                                <td>
                                    <p>
                                        The Associated Chambers of Commerce and Industry of India

                                        or

                                        ASSOCHAM

                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td><p> Address of Account Holder </p></td>
                                <td>
                                    <p>
                                        5, Sardar Patel Marg, Chanakyapuri, New Delhi, Delhi 110021
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td><p>Account No.  </p></td>
                                <td>
                                    <p>
                                        503010465182
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td><p>Account Type   </p></td>
                                <td><p> Savings Account </p></td>
                            </tr>
                            <tr>
                                <td><p>Branch  </p></td>
                                <td><p>Connaught Place</p></td>
                            </tr>
                            <tr>
                                <td><p>Branch Address </p></td>
                                <td>
                                    <p>
                                        Kotak Mahindra Bank Ltd, G-39, Outer Circle,
                                        Connaught Place, New Delhi-110001
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Branch IFSC Code  </p></td>
                                <td><p>KKBK0000214</p></td>
                            </tr>
                            <tr>
                                <td><p>Branch SWIFT code  </p></td>
                                <td><p>KKBKINBBCPC</p></td>
                            </tr>
                        </table>

                        <h4>Please share payment/DD/cheque details alongwith uploaded excel sheet to enquiry@iptse.com and Rohit.jain@assocham.com to activate student ID.</h4>
                        <h4>If any query, please contact to Mr. Rohit Jain on 011-46550534</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
}