@model IPTSE_portal.Models.IPTSE_Reg_table

@{
    ViewBag.Title = "Successfull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <br>
    <br>
    <br>
    <br>

    <br>
    <h2 style="color: #4cff00;" align="Center">@ViewData["success_msg"]</h2>

    <h3 align="Center"><a href="http://portal.iptse.com">Login Now</a></h3>
    
}